.font-manrope {
    font-family: 'Manrope', sans-serif;
}

/*** Responsive ***/
/** header section **/
/* mobile responsive */
@media screen and (max-width: 500px) {
    .banner-content {
        position: absolute;
        bottom: 0%;
        right: 5%;
    }
    .arrow-icon {
        position: absolute;
        bottom: 0%;
    }
}
/* tablet responsive */
@media screen and (min-width: 500px) and (max-width: 1280px) {
    .banner-content {
        position: absolute;
        bottom: 0%;
        right: 5%;
    }
}
/* large screen responsive */
@media screen and (min-width: 1280px) {
    .banner-content {
        position: absolute;
        bottom: 8%;
        right: 5%;
    }
}